---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <!-- <div class="font-base text-sm">
            <FormattedDate date={post.data.date} />
          </div>
          &bull;
          <div class="font-base text-sm">
            {readingTime(post.body)}
          </div> -->
      </div>
      <div
        transition:name={`title-${post.id}`}
        class="animate text-2xl font-semibold text-black dark:text-white"
      >
        {post.data.title}
      </div>
    </div>
    <article class="animate prose dark:prose-invert">
      <Content />
    </article>
  </Container>
</Layout>
