---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "@/ui/layouts/Layout.astro";
import Container from "@/ui/components/Container.astro";
import Link from "@/ui/components/Link.astro";
import ArrowCard from "@/ui/components/Cards/ArrowCard.astro";
import Social from "@/ui/components/Social.astro";
import { PAGES } from "@/constants/pages";
import { useUrl } from "@/ui/hooks/useUrl";
import { useTranslation } from "@/ui/hooks/useTranslation";


const posts = await getCollection("posts");

const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const latestPost = sortedPosts.slice(0, 5);

const {  getLangFromUrl } = useUrl();
const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

/**
 * TODO:
 * - A침adir los meta tags en el <head>
 * - A침adir las paginas de works como vac칤o
 * - A침adir el sitemap
 * - A침adir en la parte de projects este blog creado
 */
---

<Layout title="Welcome to Astro." description="Lorem ipsum">
  <Container>
    <main>
      <h4
        class="animate-blur-fade font-semibold text-xl text-black dark:text-white flex items-center"
      >
        {t('home.header')}<span class="mx-2 text-xl">游녦</span>
      </h4>
      <Social className="my-4 animate-blur-fade" />
      <div class="flex flex-col gap-16">
        <section>
          <article class="space-y-4">
            <p class="animate-blur-fade">{t("about_me.first_paragraph")}</p>
            <p class="animate-blur-fade">{t("about_me.second_paragraph")}</p>
            <p class="animate-blur-fade">{t("about_me.third_paragraph")}</p>
          </article>
        </section>

        <section class="space-y-6">
          <div
            class="flex flex-wrap gap-y-2 items-center justify-between animate-blur-fade"
          >
            <h5 class="font-semibold text-black dark:text-white">
              Latest posts
            </h5>
            <Link href={getRelativeLocaleUrl(lang, PAGES[lang].BLOG)}>
              See all posts
            </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {
              latestPost.map((post) => (
                <li class="animate-blur-fade">
                  <ArrowCard
                    tags={post.data.tags}
                    title={post.data.title}
                    description={post.data.description}
                    href={getRelativeLocaleUrl(
                      lang,
                      `${PAGES[lang].BLOG}/${post.slug}`
                    )}
                    id={post.id}
                  />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
  </Container>
</Layout>
