---
import { getCollection } from "astro:content";
import Layout from "@/ui/layouts/Layout.astro";
import Container from "@/ui/components/Container.astro";
import Link from "@/ui/components/Link.astro";
import ArrowCard from "@/ui/components/Cards/ArrowCard.astro";
import Social from "@/ui/components/Social.astro";
import { PAGES } from "@/constants/pages";

const posts = await getCollection("posts");

const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const latestPost = sortedPosts.slice(0, 5);

/**
 * TODO:
 * - Poner mas propiedades en el detalle del post (fecha, tiempo de lectura) y ajustar sus estilos (espacios y tal)
 * - Hacer la descripci칩n mi perfil con Chat GPT
 * - A침adir los meta tags en el <head>
 * - A침adir internaxionalizacion (ingles y espa침ol)
 * - Crear componente boton con variantes ghost y outline
 * - A침adir en la parte de projects este blog creado
 * - Hacer el boton de volver atras
 */
---

<Layout title="Welcome to Astro." description="Lorem ipsum">
  <Container>
    <main>
      <h4
        class="animate-blur-fade font-semibold text-black dark:text-white flex items-center"
      >
        Hola, soy Juan <span class="mx-2 text-xl">游녦游낕</span>
      </h4>
      <Social className="my-4 animate-blur-fade" />
      <div class="flex flex-col gap-16">
        <section>
          <article class="space-y-4">
            <p class="animate-blur-fade">
              I am a minimal, seo friendly, accessible portfolio and blog for
              developers. I am an even more lightweight version of my popular
              theme
              <Link
                href="https://github.com/markhorn-dev/astro-sphere"
                aria-label="Astro Sphere on Github"
                isExternal
              >
                Astro Sphere
              </Link>. I have a lighthouse scores of 100 across the board for
              performance, accesibility, best practices and SEO.
            </p>
            <p class="animate-blur-fade">
              I come packed with full type safety, a sitemap, an rss feed,
              markdown and mdx support (use components in your markdown) through
              astro integrations. I am styled with tailwind and come
              preconfigured with light, dark and system/os theme preferences out
              of the box.
            </p>
            <p class="animate-blur-fade">
              Visit
              <Link
                href="https://github.com/markhorn-dev/astro-nano"
                aria-label="Astro Nano on Github"
                isExternal
              >
                Astro Nano on Github
              </Link>
              to fork the repository, read the docs or one-click deploy on Vercel
              or Netlify.
            </p>
          </article>
        </section>

        <section class="space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between animate-blur-fade">
            <h5 class="font-semibold text-black dark:text-white">
              Latest posts
            </h5>
            <Link href={PAGES.BLOG}> See all posts </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {
              latestPost.map((post) => (
                <li class="animate-blur-fade">
                  <ArrowCard
                    title={post.data.title}
                    description={post.data.description}
                    href={`${PAGES.BLOG}/${post.slug}`}
                    id={post.id}
                  />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
  </Container>
</Layout>
