---
import Link from "@/components/Link.astro";
import Container from "@/components/Container.astro";
import { PAGES } from "@/constants/pages";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href={PAGES.HOME}>
        <div class="font-semibold">JUCODEV</div>
      </Link>
      <nav class="flex gap-1">
        <Link href={PAGES.BLOG} isUnderline={true}>blog</Link>
        <span>/</span>
        <Link href={PAGES.WORK} isUnderline>work</Link>
        <span>/</span>
        <Link href={PAGES.PROJECTS} isUnderline>projects</Link>
      </nav>
    </div>
  </Container>
</header>
